@charset "UTF-8";
:root {
  --main-color: #27272a;
  --light-color: #fff;
  --accent-color: #e92929;
  --grey-color: #5d5d5d;
  --dark-blue-color: #202743;
  --light-grey-color: #d5d5d5;
  --bg-color: #f5f6fb;
  --fontSize: 1rem;
  --font-family: "Roboto", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --trans-elem: 0.2s cubic-bezier(0.27, 0.44, 0.56, 0.96);
  --trans-menu: 0.4s cubic-bezier(0.13, 0.48, 0.58, 0.96);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: var(--font-family);
  font-size: var(--fontSize);
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea {
  font-family: var(--font-family);
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.list-reset {
  list-style: none;
}

.btn-reset {
  background-color: transparent;
  color: inherit;
  font-weight: inherit;
  border: 0;
}

ul {
  list-style-position: inside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--light-color);
  color: var(--main-color);
}
.lock body {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-inline-size: 84.375rem;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

h2,
.h2 {
  font-family: var(--second-family);
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(1.75rem, 1.5558252427rem  +  0.9708737864vw, 2.375rem);
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.btn {
  --button-height: 3.8125rem;
  --gap: 0.625rem;
  --button-bg-color: transparent;
  --button-border-radius: 6.25rem;
  --button-font-weight: 600;
  --button-color: var(--light-color);
  --button-padding-x: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--gap);
  min-block-size: var(--button-height);
  background-color: var(--button-bg-color);
  color: var(--button-color);
  border-radius: var(--button-border-radius);
  padding-inline: var(--button-padding-x);
  -webkit-transition: background-color var(--trans-elem), color var(--trans-elem);
  transition: background-color var(--trans-elem), color var(--trans-elem);
  font-size: clamp(1rem, 0.9611650485rem  +  0.1941747573vw, 1.125rem);
}
.btn span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
  inline-size: 1.875rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn--accent {
  --button-bg-color: var(--accent-color);
}
.btn--accent:focus-visible {
  outline: 0.125rem dashed var(--accent-color);
  outline-offset: 0.125rem;
  --button-bg-color: #c32222;
}
.btn--primary {
  --button-bg-color: var(--main-color);
}
.btn--primary:focus-visible {
  outline: 0.125rem dashed var(--main-color);
  outline-offset: 0.125rem;
  --button-bg-color: #414145;
}

.top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  text-align: center;
}
.top-block__descr {
  color: var(--grey-color);
  font-size: clamp(1rem, 0.9611650485rem  +  0.1941747573vw, 1.125rem);
}

.benefit-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.benefit-item__icon {
  --clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.6875rem;
          flex: 0 0 2.6875rem;
  inline-size: 2.6875rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--light-color);
  clip-path: var(--clip-path);
  background-color: rgba(233, 41, 41, 0.5);
}
.benefit-item__icon img {
  max-inline-size: 1rem;
  max-block-size: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.benefit-item__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  inline-size: 2rem;
  block-size: 2rem;
  clip-path: var(--clip-path);
  background-color: var(--accent-color);
  z-index: -1;
}
.benefit-item__count::before {
  content: counter(count-guarante, decimal-leading-zero);
  font-weight: 900;
  line-height: 120%;
  font-size: 0.875rem;
  color: var(--light-color);
}
.benefit-item__label {
  font-size: clamp(1rem, 0.9223300971rem  +  0.3883495146vw, 1.25rem);
  line-height: 120%;
  color: var(--grey-color);
}

.item-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  background-color: var(--bg-color);
  padding-block: 1.5rem;
  border-radius: 1.875rem;
  border-bottom: 0.3125rem solid var(--accent-color);
}
.item-choose__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  inline-size: 2.5rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-choose__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
  text-align: center;
}
.item-choose__title {
  font-weight: 800;
  font-size: clamp(1.25rem, 1.1723300971rem  +  0.3883495146vw, 1.5rem);
}
.item-choose__text {
  color: var(--grey-color);
}

.item-advantages {
  position: relative;
  background-color: var(--bg-color);
  border-radius: 1.875rem;
  overflow: hidden;
  -webkit-padding-before: clamp(1.875rem, 1.4866504854rem  +  1.9417475728vw, 3.125rem);
          padding-block-start: clamp(1.875rem, 1.4866504854rem  +  1.9417475728vw, 3.125rem);
  -webkit-padding-after: clamp(1.25rem, 0.8616504854rem  +  1.9417475728vw, 2.5rem);
          padding-block-end: clamp(1.25rem, 0.8616504854rem  +  1.9417475728vw, 2.5rem);
  padding-inline: clamp(1.25rem, 0.8616504854rem  +  1.9417475728vw, 2.5rem);
}
.item-advantages::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  max-inline-size: 15.625rem;
  block-size: 100%;
  background-color: var(--dark-blue-color);
  z-index: 1;
  top: 0;
  right: 0;
  clip-path: polygon(31.91% 0%, 100% 0%, 99.67% 99.56%, 0% 100%);
}
.item-advantages__body {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
.item-advantages__body:not(:last-child) {
  -webkit-margin-after: clamp(1.5625rem, 1.0770631068rem  +  2.427184466vw, 3.125rem);
          margin-block-end: clamp(1.5625rem, 1.0770631068rem  +  2.427184466vw, 3.125rem);
}
.item-advantages__title {
  font-family: var(--second-family);
  font-weight: 900;
  text-transform: uppercase;
}
.item-advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}
.item-advantages__item {
  position: relative;
  color: var(--grey-color);
  -webkit-padding-start: 1.4375rem;
          padding-inline-start: 1.4375rem;
  font-size: clamp(1rem, 0.9611650485rem  +  0.1941747573vw, 1.125rem);
}
.item-advantages__item::before {
  content: "—";
  position: absolute;
  top: 0.3125rem;
  left: 0;
}
.item-advantages__image {
  position: absolute;
  block-size: 100%;
  max-inline-size: 21.625rem;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  z-index: 2;
}

.slider-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}
.slider-reviews__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.slider-reviews__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-block-size: 2.75rem;
  border-radius: 1.25rem;
  color: var(--light-color);
  background-color: var(--dark-blue-color);
  padding-inline: clamp(0.9375rem, 0.723907767rem  +  1.067961165vw, 1.625rem);
}
.slider-reviews__arrow--prev svg {
  rotate: 180deg;
}
.slider-reviews__slider {
  margin: -0.625rem;
  padding: 0.625rem;
}
.item-reviews {
  background-color: var(--light-color);
  border-radius: 1.875rem;
  block-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 0.625rem 0.0625rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0.625rem 0.0625rem rgba(0, 0, 0, 0.1);
  gap: clamp(1.25rem, 1.0558252427rem  +  0.9708737864vw, 1.875rem);
  -webkit-padding-after: clamp(1.875rem, 1.2924757282rem  +  2.9126213592vw, 3.75rem);
          padding-block-end: clamp(1.875rem, 1.2924757282rem  +  2.9126213592vw, 3.75rem);
  -webkit-padding-before: clamp(0.9375rem, 0.6462378641rem  +  1.4563106796vw, 1.875rem);
          padding-block-start: clamp(0.9375rem, 0.6462378641rem  +  1.4563106796vw, 1.875rem);
  padding-inline: clamp(0.9375rem, 0.6462378641rem  +  1.4563106796vw, 1.875rem);
}
.item-reviews__header {
  --margin-offset-x: -2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
.item-reviews__avatars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-reviews__avatar {
  position: relative;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  -ms-flex-preferred-size: clamp(3.75rem, 3.3616504854rem  +  1.9417475728vw, 5rem);
      flex-basis: clamp(3.75rem, 3.3616504854rem  +  1.9417475728vw, 5rem);
  inline-size: clamp(3.75rem, 3.3616504854rem  +  1.9417475728vw, 5rem);
}
.item-reviews__avatar:last-child {
  -webkit-margin-start: var(--margin-offset-x);
          margin-inline-start: var(--margin-offset-x);
}
.item-reviews__play {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-reviews__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
}
.item-reviews__title {
  font-weight: 600;
  font-family: var(--second-family);
  font-size: clamp(1.125rem, 1.0861650485rem  +  0.1941747573vw, 1.25rem);
}
.item-reviews__date {
  color: var(--grey-color);
}
.item-reviews__descr {
  line-height: 120%;
  font-family: var(--second-family);
  color: var(--grey-color);
  font-size: clamp(0.875rem, 0.8361650485rem  +  0.1941747573vw, 1rem);
}
.item-reviews__descr > p:not(:last-child) {
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}

.form-callback__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}
.form-callback__body:not(:last-child) {
  -webkit-margin-after: clamp(1.25rem, 0.8616504854rem  +  1.9417475728vw, 2.5rem);
          margin-block-end: clamp(1.25rem, 0.8616504854rem  +  1.9417475728vw, 2.5rem);
}
.form-callback__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-callback__item:focus-within {
  -webkit-box-shadow: inset 0 0 1.25rem 0.0625rem var(--dark-blue-color);
          box-shadow: inset 0 0 1.25rem 0.0625rem var(--dark-blue-color);
}
.form-callback__item .input-error {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 0.75rem;
  color: var(--light-color);
}
.form-callback__input {
  border: none;
  outline: none;
  background-color: transparent;
  inline-size: 100%;
  min-block-size: 3.125rem;
  background-color: var(--light-color);
  padding-inline: 1.5625rem;
  border-radius: 6.25rem;
  border: 0.0625rem solid #cecece;
  -webkit-transition: -webkit-box-shadow var(--trans-elem);
  transition: -webkit-box-shadow var(--trans-elem);
  transition: box-shadow var(--trans-elem);
  transition: box-shadow var(--trans-elem), -webkit-box-shadow var(--trans-elem);
}
.form-callback__input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity var(--trans-elem);
  transition: opacity var(--trans-elem);
}
.form-callback__input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity var(--trans-elem);
  transition: opacity var(--trans-elem);
}
.form-callback__input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity var(--trans-elem);
  transition: opacity var(--trans-elem);
}
.form-callback__input::-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity var(--trans-elem);
  transition: opacity var(--trans-elem);
}
.form-callback__input::placeholder {
  opacity: 1;
  -webkit-transition: opacity var(--trans-elem);
  transition: opacity var(--trans-elem);
}
.form-callback__input:focus-visible {
  -webkit-box-shadow: 0 0 0.625rem 0.125rem var(--light-color);
          box-shadow: 0 0 0.625rem 0.125rem var(--light-color);
}
.form-callback__input:focus-visible::-webkit-input-placeholder {
  opacity: 0;
}
.form-callback__input:focus-visible::-moz-placeholder {
  opacity: 0;
}
.form-callback__input:focus-visible:-ms-input-placeholder {
  opacity: 0;
}
.form-callback__input:focus-visible::-ms-input-placeholder {
  opacity: 0;
}
.form-callback__input:focus-visible::placeholder {
  opacity: 0;
}
.form-callback__input._form-error {
  color: var(--accent-color);
  -webkit-box-shadow: 0 0 0.9375rem 0.125rem var(--accent-color);
          box-shadow: 0 0 0.9375rem 0.125rem var(--accent-color);
}
.form-callback__input._form-error::-webkit-input-placeholder {
  color: inherit;
}
.form-callback__input._form-error::-moz-placeholder {
  color: inherit;
}
.form-callback__input._form-error:-ms-input-placeholder {
  color: inherit;
}
.form-callback__input._form-error::-ms-input-placeholder {
  color: inherit;
}
.form-callback__input._form-error::placeholder {
  color: inherit;
}

.header {
  position: absolute;
  inline-size: 100%;
  top: 0;
  block-size: 4.375rem;
}
.header__wrapper {
  position: fixed;
  inline-size: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  -webkit-transition: background-color var(--trans-elem);
  transition: background-color var(--trans-elem);
}
._header-scroll .header__wrapper {
  background-color: var(--bg-color);
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
  padding-block: clamp(0.625rem, 0.3337378641rem  +  1.4563106796vw, 1.5625rem);
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(0.625rem, 0.0424757282rem  +  2.9126213592vw, 2.5rem);
}
.header__logo img {
  max-inline-size: 5.25rem;
}
.header__logo-label {
  max-inline-size: 5.125rem;
  font-size: 0.875rem;
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(1.25rem, -0.4004854369rem  +  8.2524271845vw, 6.5625rem);
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
._header-scroll .header__item {
  color: var(--main-color);
}
.header__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.3125rem;
          flex: 0 0 2.3125rem;
  inline-size: 2.3125rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--accent-color);
  color: var(--light-color);
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__text {
  font-size: 0.875rem;
}
.header__callback-btn {
  -ms-flex-item-align: end;
      align-self: end;
  font-size: 0.75rem;
  line-height: 110%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

/*
.icon-menu {
  @media (min-width: $tablet) {
    display: none;
  }
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    z-index: 5;
    flex: 0 0 toRem(30);
    width: toRem(30);
    height: toRem(18);
    span,
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      background-color: #fff;
      width: 100%;
      height: toRem(2);
      border-radius: toRem(5);
      transition: all 0.25s linear;
    }
    span {
      top: calc(50% - toRem(1));
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    .menu-open & {
      span,
      &::before,
      &::after {
        background-color: #000;
      }
      &::before {
        top: calc(50% - toRem(1));
        rotate: 45deg;
      }
      &::after {
        bottom: calc(50% - toRem(1));
        rotate: -45deg;
      }
      span {
        scale: 0;
      }
    }
  }
}
*/
.footer {
  background-color: var(--main-color);
}
.footer__body {
  position: relative;
  padding-block: clamp(1.875rem, 1.6808252427rem  +  0.9708737864vw, 2.5rem);
}
.footer__body::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 0.0625rem;
  background-color: var(--light-grey-color);
  opacity: 0.2;
  bottom: 0;
  left: 0;
}
.footer__logo:focus-visible {
  outline: 0.125rem dashed var(--light-color);
  outline-offset: 0.125rem;
}
.footer__wrapper-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.footer__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.3125rem;
          flex: 0 0 2.3125rem;
  inline-size: 2.3125rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--accent-color);
  color: var(--light-color);
  border-radius: 50%;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__phone {
  font-weight: 700;
  color: var(--light-color);
  -webkit-transition: color var(--trans-elem);
  transition: color var(--trans-elem);
  line-height: 110%;
  font-size: clamp(1.125rem, 1.0861650485rem  +  0.1941747573vw, 1.25rem);
}
.footer__phone:focus-visible {
  outline: 0.125rem dashed var(--light-color);
  outline-offset: 0.125rem;
  color: var(--light-grey-color);
}
.footer__callback {
  font-size: 0.75rem;
  line-height: 110%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: color var(--trans-elem);
  transition: color var(--trans-elem);
}
.footer__callback:focus-visible {
  outline: 0.125rem dashed var(--light-color);
  outline-offset: 0.125rem;
  color: var(--light-color);
}
.footer__bottom {
  padding-block: 1.25rem;
}
.footer__text {
  font-size: 0.875rem;
  color: #e2e2e2;
  text-align: center;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
  -webkit-column-gap: clamp(1.25rem, 0.8616504854rem  +  1.9417475728vw, 2.5rem);
     -moz-column-gap: clamp(1.25rem, 0.8616504854rem  +  1.9417475728vw, 2.5rem);
          column-gap: clamp(1.25rem, 0.8616504854rem  +  1.9417475728vw, 2.5rem);
}
.menu-footer__link {
  color: var(--light-color);
  -webkit-transition: color var(--trans-elem);
  transition: color var(--trans-elem);
}
.menu-footer__link:focus-visible {
  outline: 0.125rem dashed var(--light-color);
  outline-offset: 0.125rem;
  color: var(--light-grey-color);
}

.hero {
  --height: 50.5625rem;
  position: relative;
  background-color: var(--bg-color);
  -webkit-padding-before: clamp(4.6875rem, 4.3962378641rem  +  1.4563106796vw, 5.625rem);
          padding-block-start: clamp(4.6875rem, 4.3962378641rem  +  1.4563106796vw, 5.625rem);
  -webkit-padding-after: clamp(2.5rem, -0.1213592233rem  +  13.1067961165vw, 10.9375rem);
          padding-block-end: clamp(2.5rem, -0.1213592233rem  +  13.1067961165vw, 10.9375rem);
}
.hero__container {
  position: relative;
}
.hero__body {
  position: relative;
}
.hero__content {
  position: relative;
  z-index: 2;
  -webkit-padding-before: clamp(2.5rem, 1.0825242718rem  +  7.0873786408vw, 7.0625rem);
          padding-block-start: clamp(2.5rem, 1.0825242718rem  +  7.0873786408vw, 7.0625rem);
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}
.hero__inner:not(:last-child) {
  -webkit-margin-after: clamp(2.1875rem, 0.7700242718rem  +  7.0873786408vw, 6.75rem);
          margin-block-end: clamp(2.1875rem, 0.7700242718rem  +  7.0873786408vw, 6.75rem);
}
.hero__title {
  font-family: var(--second-family);
  font-weight: 500;
  text-transform: uppercase;
  font-size: clamp(1.75rem, 1.5169902913rem  +  1.1650485437vw, 2.5rem);
}
.hero__title span {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: clamp(2rem, 1.4951456311rem  +  2.5242718447vw, 3.625rem);
}
.hero__descr {
  line-height: 120%;
  font-size: clamp(1.125rem, 1.0861650485rem  +  0.1941747573vw, 1.25rem);
}
.hero__benefit-item .benefit-item__label {
  max-inline-size: 13.1875rem;
  font-size: 1rem;
}
.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
}
.hero__image {
  max-inline-size: 47.1212121212%;
}

.choose {
  padding-block: clamp(3.75rem, 2.0024271845rem  +  8.7378640777vw, 9.375rem);
}
.choose__top:not(:last-child) {
  -webkit-margin-after: clamp(1.5625rem, 1.0770631068rem  +  2.427184466vw, 3.125rem);
          margin-block-end: clamp(1.5625rem, 1.0770631068rem  +  2.427184466vw, 3.125rem);
}
.choose__list {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-areas: "item-1 item-image item-3" "item-2 item-image item-4";
  gap: clamp(1.25rem, 0.4733009709rem  +  3.8834951456vw, 3.75rem);
}
.choose__item:nth-child(1) {
  grid-area: item-1;
}
.choose__item:nth-child(2) {
  grid-area: item-2;
}
.choose__item:nth-child(3) {
  grid-area: item-image;
}
.choose__item:nth-child(4) {
  grid-area: item-3;
}
.choose__item:nth-child(5) {
  grid-area: item-4;
}
.choose__image {
  margin-inline: auto;
  max-inline-size: 29.9375rem;
  aspect-ratio: 479/461;
  position: relative;
  z-index: 1;
}
.choose__image::before, .choose__image::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  aspect-ratio: 1;
  border-radius: 50%;
}
.choose__image::before {
  content: "";
  background-color: var(--bg-color);
  inline-size: 109.3945720251%;
}
.choose__image::after {
  content: "";
  background-color: var(--dark-blue-color);
  inline-size: 86.2212943633%;
}

.advantages {
  -webkit-padding-after: clamp(3.125rem, 1.1832524272rem  +  9.7087378641vw, 9.375rem);
          padding-block-end: clamp(3.125rem, 1.1832524272rem  +  9.7087378641vw, 9.375rem);
}
.advantages__top:not(:last-child) {
  -webkit-margin-after: clamp(1.5625rem, 1.0770631068rem  +  2.427184466vw, 3.125rem);
          margin-block-end: clamp(1.5625rem, 1.0770631068rem  +  2.427184466vw, 3.125rem);
}
.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}
.guarantee {
  -webkit-padding-after: clamp(2.1875rem, 1.4108009709rem  +  3.8834951456vw, 4.6875rem);
          padding-block-end: clamp(2.1875rem, 1.4108009709rem  +  3.8834951456vw, 4.6875rem);
}
.guarantee__body {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0.9375rem, 1fr) minmax(0, calc(84.375rem / 2)) minmax(0, calc(84.375rem / 2)) minmax(0.9375rem, 1fr);
}
.guarantee__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-blue-color);
  inline-size: 100%;
  block-size: 100%;
  z-index: -1;
}
.guarantee__decor {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 0.05;
  z-index: -1;
}
.guarantee__content {
  -webkit-padding-end: 2.5rem;
          padding-inline-end: 2.5rem;
  color: var(--light-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(1.5625rem, 1.0770631068rem  +  2.427184466vw, 3.125rem);
  -webkit-padding-start: clamp(0.9375rem, -0.3246359223rem  +  6.3106796117vw, 5rem);
          padding-inline-start: clamp(0.9375rem, -0.3246359223rem  +  6.3106796117vw, 5rem);
  padding-block: clamp(1.875rem, 0.9041262136rem  +  4.854368932vw, 5rem);
}
.guarantee__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
.guarantee__descr {
  line-height: 120%;
  font-size: clamp(1rem, 0.9223300971rem  +  0.3883495146vw, 1.25rem);
}
.guarantee__list {
  counter-reset: count-guarante;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}
.guarantee__item {
  counter-increment: count-guarante;
}
.guarantee__item .benefit-item__label {
  color: var(--light-color);
}

.brands {
  padding-block: clamp(2.1875rem, 1.4108009709rem  +  3.8834951456vw, 4.6875rem);
}
.brands__title {
  text-align: center;
}
.brands__title:not(:last-child) {
  -webkit-margin-after: clamp(1.5625rem, 1.0770631068rem  +  2.427184466vw, 3.125rem);
          margin-block-end: clamp(1.5625rem, 1.0770631068rem  +  2.427184466vw, 3.125rem);
}
.brands__list {
  --count: 6;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
}
.brands__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: clamp(0.9375rem, 0.5491504854rem  +  1.9417475728vw, 2.1875rem);
  padding-block: clamp(1.25rem, 0.8616504854rem  +  1.9417475728vw, 2.5rem);
  border: 0.0625rem solid var(--light-grey-color);
}
.brands__image {
  max-inline-size: 9.375rem;
  aspect-ratio: 150/110;
}
.brands__image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.reviews {
  padding-block: clamp(2.1875rem, 1.4108009709rem  +  3.8834951456vw, 4.6875rem);
}
.reviews__title {
  text-align: center;
}
.reviews__title:not(:last-child) {
  -webkit-margin-after: clamp(1.875rem, 1.3895631068rem  +  2.427184466vw, 3.4375rem);
          margin-block-end: clamp(1.875rem, 1.3895631068rem  +  2.427184466vw, 3.4375rem);
}
.reviews__body {
  display: grid;
  grid-template-columns: auto 26.5625rem;
  gap: 1.25rem;
}
.reviews__slider {
  min-width: 0;
}
.reviews__wrapper {
  -ms-flex-item-align: start;
      align-self: start;
  block-size: 100%;
  position: relative;
  background-color: var(--bg-color);
  border-radius: 1.875rem;
}
.reviews__wrapper::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 43.1683168317%;
  background-color: var(--dark-blue-color);
  bottom: 0;
  left: 0;
  border-radius: inherit;
}
.reviews__rating {
  position: absolute;
  top: 13.8613861386%;
  left: 0;
  max-inline-size: 13.75rem;
}
.reviews__image {
  position: absolute;
  bottom: 0;
  right: 0;
  inline-size: 100%;
  aspect-ratio: 425/544;
}

.callback {
  position: relative;
  background-color: var(--dark-blue-color);
  -webkit-padding-before: clamp(2.5rem, 1.3349514563rem  +  5.8252427184vw, 6.25rem);
          padding-block-start: clamp(2.5rem, 1.3349514563rem  +  5.8252427184vw, 6.25rem);
  -webkit-padding-after: clamp(1.875rem, 1.1953883495rem  +  3.3980582524vw, 4.0625rem);
          padding-block-end: clamp(1.875rem, 1.1953883495rem  +  3.3980582524vw, 4.0625rem);
  margin-block: clamp(2.5rem, 1.8203883495rem  +  3.3980582524vw, 4.6875rem);
}
.callback__decor {
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  bottom: 0;
  background-repeat: repeat-x;
  background-size: cover;
  mix-blend-mode: screen;
  background-position: 100% 20%;
  pointer-events: none;
}
.callback__body {
  color: var(--light-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(1.875rem, -0.3774271845rem  +  11.2621359223vw, 9.125rem);
}
.callback__image {
  max-inline-size: 32.25rem;
}
.callback__image img {
  block-size: auto;
}
.callback__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(1.25rem, 0.8616504854rem  +  1.9417475728vw, 2.5rem);
}
.callback__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(0.625rem, 0.4308252427rem  +  0.9708737864vw, 1.25rem);
}
.callback__title {
  line-height: 130%;
}
.callback__descr {
  line-height: 120%;
  font-size: clamp(1rem, 0.9223300971rem  +  0.3883495146vw, 1.25rem);
}

.contacts {
  padding-block: clamp(2.5rem, 1.8203883495rem  +  3.3980582524vw, 4.6875rem);
}
.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(1.875rem, 1.2924757282rem  +  2.9126213592vw, 3.75rem);
}
.contacts__wrapper:not(:last-child) {
  -webkit-margin-after: 1.875rem;
          margin-block-end: 1.875rem;
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  padding-block: 0.625rem;
  padding-inline: clamp(3.75rem, 2.390776699rem  +  6.7961165049vw, 8.125rem);
}
.contacts__item-title {
  font-weight: 700;
  line-height: 110%;
  font-size: clamp(1rem, 0.9223300971rem  +  0.3883495146vw, 1.25rem);
}
.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  color: var(--grey-color);
  line-height: 110%;
  gap: 0.3125rem;
  -webkit-transition: color var(--trans-elem);
  transition: color var(--trans-elem);
  font-size: clamp(1rem, 0.9611650485rem  +  0.1941747573vw, 1.125rem);
}
.contacts__link span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.0625rem;
          flex: 0 0 1.0625rem;
  inline-size: 1.0625rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--accent-color);
  color: var(--light-color);
  border-radius: 50%;
}
.contacts__map {
  border-radius: 1.875rem;
  overflow: hidden;
  inline-size: 100%;
  aspect-ratio: 1320/608;
}
@media (any-hover: hover) {
  .btn--accent:hover {
    --button-bg-color: #c32222;
  }
  .btn--primary:hover {
    --button-bg-color: #414145;
  }
  .footer__phone:hover {
    color: var(--light-grey-color);
  }
  .footer__callback:hover {
    color: var(--light-color);
  }
  .menu-footer__link:hover {
    color: var(--light-grey-color);
  }
  .contacts__link:hover {
    color: var(--dark-blue-color);
  }
}
@media (min-width: 61.99875em) {
  .item-choose:nth-child(1) {
    border-bottom-right-radius: 0;
  }
  .item-choose:nth-child(4) {
    border-bottom-left-radius: 0;
  }
  .header__item {
    color: var(--light-color);
  }
}
@media (max-width: 37.5em) {
  .item-advantages::before {
    display: none;
  }
  .item-advantages__image {
    display: none;
  }
  .header__item:first-child {
    display: none;
  }
}
@media (min-width: 37.5em) {
  .item-advantages {
    min-block-size: 21.875rem;
  }
  .item-advantages__body {
    max-inline-size: 18.875rem;
  }
}
@media (max-width: 29.99875em) {
  .item-advantages__button {
    inline-size: 100%;
  }
  .item-reviews__header {
    --margin-offset-x: -1.875rem;
  }
  .form-callback__button {
    inline-size: 100%;
  }
  .footer__logo {
    max-inline-size: 6.875rem;
  }
  .hero__btn {
    inline-size: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-inline: 1.25rem;
  }
  .brands__list {
    grid-template-columns: repeat(auto-fill, minmax(11.25rem, 1fr));
  }
  .callback__form {
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
  .contacts__map {
    block-size: 28.125rem;
  }
}
@media (max-width: 47.99875em) {
  .header__logo-label {
    display: none;
  }
  .header__item:has(.header__phone-icon) .header__icon {
    display: none;
  }
  .header__inner {
    gap: 0.1875rem;
  }
  .header__phone {
    display: none;
  }
  .header__phone-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.3125rem;
            flex: 0 0 2.3125rem;
    inline-size: 2.3125rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--light-color);
  }
  .guarantee__body {
    grid-template-columns: 1fr;
  }
  .guarantee__image {
    max-inline-size: 47.9375rem;
    aspect-ratio: 767/550;
  }
  .guarantee__decor {
    inline-size: 100%;
  }
  .guarantee__content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding-inline: 0.9375rem;
  }
  .callback__body {
    grid-template-columns: 1fr;
  }
  .callback__image {
    justify-self: center;
  }
  .callback__content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (min-width: 47.99875em) {
  .header__phone {
    line-height: 100%;
    font-weight: 700;
    font-size: clamp(1rem, 0.9223300971rem  +  0.3883495146vw, 1.25rem);
  }
  .header__phone-icon {
    display: none;
  }
  .guarantee__image {
    grid-column: 1/3;
  }
  .guarantee__content {
    grid-column: 3/4;
  }
}
@media (min-width: 51.875em) {
  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.625rem;
  }
}
@media (max-width: 51.875em) {
  .footer__body {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-template-areas: "logo actions" "menu menu";
    gap: 1.875rem;
  }
  .footer__logo {
    grid-area: logo;
  }
  .footer__menu {
    grid-area: menu;
    justify-self: center;
  }
  .footer__actions {
    grid-area: actions;
    justify-self: end;
  }
}
@media (max-width: 23.125em) {
  .footer__body {
    grid-template-areas: "logo" "menu" "actions";
  }
  .footer__menu {
    justify-self: start;
  }
  .footer__actions {
    justify-self: center;
  }
  .menu-footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 68.75em) {
  .hero::before {
    content: "";
    position: absolute;
    inline-size: 100vw;
    block-size: 40%;
    background-color: var(--dark-blue-color);
    bottom: 0;
    left: 0;
  }
  .hero__content {
    max-inline-size: 41.875rem;
  }
  .hero__title {
    max-inline-size: 36.25rem;
  }
  .hero__descr {
    max-inline-size: 37.5rem;
  }
  .hero__image {
    max-block-size: var(--height);
    position: absolute;
    right: 9.2424242424%;
    z-index: 1;
    bottom: clamp(-1.875rem, 0.9405339806rem  +  -14.0776699029vw, -10.9375rem);
    bottom: clamp(-10.9375rem, 0.9405339806rem  +  -14.0776699029vw, -1.875rem);
  }
  .hero__decor {
    position: absolute;
    top: 0;
    right: -3.7878787879%;
    max-inline-size: 83.5606060606%;
    opacity: 0.1;
  }
}
@media (min-width: 68.75em) and (min-width: 68.75em) {
  .hero::before {
    block-size: 100%;
    top: 0;
    left: 52.9166666667%;
  }
}
@media (max-width: 68.75em) {
  .hero__image {
    display: none;
  }
  .hero__decor {
    display: none;
  }
}
@media (max-width: 61.99875em) {
  .choose__list {
    grid-template-areas: "item-1 item-3" "item-2 item-4";
  }
  .choose__item:nth-child(3) {
    display: none;
  }
  .brands__list {
    --count: 5;
  }
}
@media (max-width: 43.75em) {
  .choose__list {
    grid-template-areas: "item-1" "item-2" "item-3" "item-4";
  }
}
@media (max-width: 71.875em) {
  .advantages__list {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 40.625em) {
  .brands__list {
    --count: 4;
  }
}
@media (max-width: 25em) {
  .brands__list {
    grid-template-columns: repeat(auto-fill, minmax(8.75rem, 1fr));
  }
}
@media (max-width: 75em) {
  .reviews__body {
    grid-template-columns: 1fr;
  }
  .reviews__wrapper {
    display: none;
  }
}
@media (min-width: 29.99875em) {
  .callback__form {
    max-inline-size: 25rem;
  }
}
@media (max-width: 38.125em) {
  .contacts__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    inline-size: 100%;
    gap: 1.25rem;
  }
  .contacts__item {
    padding-inline: 0;
  }
  .contacts__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .contacts__item:not(:last-child) {
    border: none;
  }
}
@media (min-width: 38.125em) {
  .contacts__item:first-child {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
  .contacts__item:last-child {
    -webkit-padding-end: 0;
            padding-inline-end: 0;
  }
  .contacts__item:not(:last-child) {
    border-right: 0.0625rem solid var(--light-grey-color);
  }
}
@media (max-width: 56.25em) and (min-width: 38.125em) {
  .contacts__item {
    padding-inline: 1.875rem;
  }
}